$rd-colors-base-white: var(--rd-colors-base-white, #ffffff);
$rd-colors-base-black: var(--rd-colors-base-black, #171717);
$rd-colors-gray-100: var(--rd-colors-gray-100, #f5f5f5);
$rd-colors-gray-150: var(--rd-colors-gray-150, #eeeeee);
$rd-colors-gray-200: var(--rd-colors-gray-200, #e5e5e5);
$rd-colors-gray-300: var(--rd-colors-gray-300, #d4d4d4);
$rd-colors-gray-400: var(--rd-colors-gray-400, #a3a3a3);
$rd-colors-gray-600: var(--rd-colors-gray-600, #737373);
$rd-colors-gray-700: var(--rd-colors-gray-700, #525252);
